.header {
  max-width: 100%;
  height: 326px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 97px 104px;
  line-height:0%;
  background-image: url("../../img/bg-header.svg");
  background-repeat: no-repeat;
  background-size:200% 100% ;
  background-position: top;
  /* position: absolute; */
  top: 0;
color: white;
 
}

nav {
  width: 931px
}

.listOption{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
 
li {
    list-style: none;
 }
  
.li{
  width: 160px
}